body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px; 
 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------------HEADER--------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}


.header-menu-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after,
.header-menu-link.current::after {
  opacity: 1;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus, 
.header-menu-link.current {
  color: #404bbf;
}

/* --------------------HERO--------------------- */

.hero {
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}


 
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  background: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
 min-width: 169px;
 height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* --------------------FEATURES--------------------- */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.features-item {
  width: calc((100% - 3*24px) / 4);
}

.features-item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px; }

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --------------------TEAM--------------------- */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto 72px;
  max-width: 192px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

 .team-list .team-item {
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

.team-item {
  background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0;
    width: calc((100% - 3 * 24px) / 4);

}

.team-image {
width: 100%;
height: auto;
}

.team-info {
  padding: 32px 0;}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #434455;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd
}

/* --------------------PORTFOLIO--------------------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  
}



.portfolio-item {
  width: calc((100% - 2*24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-item-text {
line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0px;
background-color: #4d5ae5;
padding: 40px 32px;
height: 100%;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%); ;
}

.portfolio-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --------------------FOOTER--------------------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container.footer-bg {
  display: flex;
  align-items: baseline
}

.footer-logo-about{
  margin-right: 120px
}


.footer-logo .logo-part {
  color: #f4f4fd;
  
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
} 

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 267px;
}

.footer-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;;
  
}
.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
background-color: transparent;
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 8px 16px;
transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  outline: none;
   border-color: #31d0aa;
}

.footer-button {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #4d5ae5;
  min-width: 165px;
    height: 40px;
    border-radius: 4px;
      padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:focus {
  background-color: #31d0aa
}

.footer-button-icon {
  margin-left: 16px;
}

/* --------------------MODAL--------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {  
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
 border-radius: 4px;
width: 408px;
min-height: 584px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-title {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-button:focus, .modal-close-button:hover {
 background-color: #404bbf;
 border: none;
}

.modal-close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus .modal-close-button-icon, .modal-close-button:hover .modal-close-button-icon {
  fill: #fff;
}

.modal-element {
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: 0.3s border-color cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  height: 40px;
padding-left: 38px;
  padding-right: 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-label {
  display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field.textarea {
  margin-bottom: 16px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  height: 120px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4D5AE5;
}

.modal-field.checkbox {
  margin-bottom: 24px;
}

.modal-check {
  border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: 0.3s fill cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label > .modal-check-box {
    background-color:  #404bbf; 
    border: none;
    fill: #F4F4FD;
}

.modal-check-label {
  font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 
}

.modal-check-privacy {
        line-height: 1.3;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
    }

.modal-check-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    background-color: transparent;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-icon {
width: 10px;
height: 8px;
}

.modal-button {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
      border: none;
      border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: absolute;
bottom: 24px;
transform: translateX(50%);
cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}